.env


# // // controllers: candy-crud
# // async function giveItemToCart(req,res){
    
# //     await User.findOneAndUpdate({_id:req.params.id}, {$push:{'mycart':`<%=p.img%>`}})
# //     user = await User.findById(req.params.id).populate('mycart');
# //     res.render('products',{users: user})
# // }

# // async function giveItemToCart(req,res){
# //     let users = await User.find(req.params.id).populate('mycart');
# //         res.render('products',{users, user})

# //     }

# // async function giveItemToCart(req, res, next) {
# //     let button = await document.getElementById(`${products.img}`)
# //     let product = await document.getElementById(`${products.product_type}`)
# //     let cart = await document.getElementById(`${placeCart}`)
# //     console.log(products.img)
# //     let action = await button.addEventListener('click', function(b){
# //        user = User.findById(req.user).populate('mycart');
# //        res.render('cart',{user, users })
# //     })
# // }

# controllers: cart

# // document.getElementById(`<%=p.img%>`).addEventListener('click', handleAddItem);

#     // async function handleAddItem(){
#     //     cart = document.getElementById('placeCart') 
#     //         document.getElementById(`<%=p.product_type%>`).push(cart)
#     //         await cart.save()
#     // }
#     // let users = await User.find(req.params.id).populate('mycart');
#     //     res.render('products',{users, user})

#     // }

# // async function giveItemToCart(req,res){
# //     let users = await User.find({}, function(err,user){
# //         user.mycart.push(Product.req.body)
         
# //         user.save(function(err){   
# //             res.render('products',{user, users })
# //             console.log(user)
# //          console.log(users)
# //         })
# //      }).catch(function(err) {
# //         res.status(400).json(err);
# //       });

#     //.then(function(item){
#     //     user.mycart.forEach(function(item){
#     //         Product.findById(`<%=p.img%>`)
#     //     })
#     // })
#     // .then(user.mycart.push)
#     // let getProdName = req.query.Product.name
# // }


# // async function createCart(req,res){
# //     let newCart = new Product({
# //         name: req.body.itemName,
# //         quantity: req.body.itemQuan,
# //         img: req.body.itemImage,
# //     })
# //     await newCart.save()
# //     let allProds = await Product.find({})

# //     res.render('/',{cart: allProds})
# // }

# // function getCart(req, res){
# //     let cart = await 
# // }

# // async function giveItemToCart(req,res){
# //         let users = await User.find({}, function(err,user){
# //             user.mycart.push(Product.req.user)
             
# //             user.save(function(err){   
# //                 res.render('products/cart',{user, users })
                
# //             })
# //          }).catch(function(err) {
# //             res.status(400).json(err);
# //           });
# // }